<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'devise/registrations.css', media: 'all', data: { turbolinks: false } %>
    <%= stylesheet_link_tag 'application.css', media: 'all', data: { turbolinks: false } %>
    <%= stylesheet_link_tag 'devise/shared.css', media: 'all', data: { turbolinks: false } %>
  </head>
  
  <body>
    <img src="<%= asset_path('gradient.png') %>" alt="Background" class="image" />
    <div class = "container">
      <div class = "wrapper">
        <div class = "ls">Sign up
        </div>
        <p>Enter your credentials to sign up!</p>
      
              <%= form_with model: @event, local: true do |f| %>
        <% if @event.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
            <ul>
              <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      
        <div>
          <%= f.label :title %><br>
          <%= f.text_field :title %>
        </div>
        <div>
          <%= f.label :description %><br>
          <%= f.text_area :description %>
        </div>
        <div>
          <%= f.label :start_time %><br>
          <%= f.datetime_select :start_time %>
        </div>
        <div>
          <%= f.label :end_time %><br>
          <%= f.datetime_select :end_time %>
        </div>
        <div>
          <%= f.label :stream_url %><br>
          <%= f.text_field :stream_url %>
        </div>
        <div>
          <%= f.submit "Create Event" %>
        </div>
      <% end %>

      </div>
    </div>
  </body>
</html>