<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'devise/registrations.css', media: 'all', data: { turbolinks: false } %>
    <%= stylesheet_link_tag 'application.css', media: 'all', data: { turbolinks: false } %>
    <%= stylesheet_link_tag 'events.css', media: 'all', data: { turbolinks: false } %>
    <%= stylesheet_link_tag 'devise/shared.css', media: 'all', data: { turbolinks: false } %>
  </head>
  
  <body>
    <img src="<%= asset_path('gradient.png') %>" alt="Background" class="image" />
    <div class = "container">
      <div class = "wrapper">
        <div class = "ls">Create event</div>
        <p>Enter the details for your event!</p>
      
              <%= form_with model: @event, local: true do |f| %>
        <% if @event.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>
            <ul>
              <% @event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      
        <div class="field">
          <%= f.label :title %><br>
          <%= f.text_field :title %>  
        </div>
        <div class="field">
          <%= f.label :description %><br>
          <%= f.text_area :description %>
        </div>
        <div class="field-select">
          <div class="datetime-group">
            <%= f.label :start_time %>
            <div class="date-select">
              <%= f.date_select :start_time, order: [:day, :month, :year] %>
            </div>
            <div class="time-select">
              <%= f.time_select :start_time, minute_step: 1, include_seconds: false %>
            </div>
          </div>
        </div>
        <div class="field-select">
          <div class="datetime-group">
            <%= f.label :end_time %>
            <div class="date-select">
              <%= f.date_select :end_time, order: [:day, :month, :year] %>
            </div>
            <div class="time-select">
              <%= f.time_select :end_time, minute_step: 1, include_seconds: false %>
            </div>
          </div>
        </div>
        <div class="field">
          <%= f.label :stream_url %><br>
          <%= f.text_field :stream_url %>
        </div>
        <div class="field">
          <%= f.submit "Create Event" %>
        </div>
      <% end %>

      </div>
    </div>
  </body>
</html>