<!DOCTYPE html>
<html>
  <head>
    <title>ProjectMds</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'index', media: 'all', data: { turbolinks: false } %>
    <%= stylesheet_link_tag 'about', media: 'all', data: { turbolinks: false } %>
  </head>
<body>
    <header>
      <nav>
        <ul class="header_list">
          <li><a href="../../">home</a></li>
          <li><a href="../../dashboard">dashboard</a></li>
          <% if user_signed_in? %>
            <li><a href="#"><%= button_to 'logout', destroy_user_session_path, method: :delete ,  class: "plain-text-link" %></a></li>
          <% end %>
        </ul>
    </header>
    
    <main>
        <div class = "about-text">
            <p class = "project-name">Proiect Metode de Dezvoltare Software</p>
            <p>GitHub: <a href = "https://github.com/rthh21">https://github.com/rthh21</a></p>
            <p>Repo: <a href = "https://github.com/rthh21/mds_project">https://github.com/rthh21/mds_project</a></p>
        </div>
    </main>
    
    <footer>
    </footer>
  </body>
</html>